<div data-controller="sidebar" class="flex min-h-svh w-full">
    <div data-sidebar-target="sidebar" class="z-20 dark:bg-black bg-white shrink-0 w-64 h-screen overflow-y-auto">
    <div class="h-full w-64">
      <div class="flex h-full min-h-0 flex-col">
        <div class="relative h-full w-full flex-1 items-start border-r border-zinc-700">
          <h2 class="sr-only">チャット履歴</h2>
          <nav class="flex h-full w-full flex-col pl-3">
          <div class="flex justify-between h-16 items-center pr-3">
            <button
              class="hover:bg-zinc-200 dark:hover:bg-zinc-700 h-10 rounded-lg px-2"
              aria-label="サイドバーを閉じる"
              data-action="click->sidebar#toggle"
            >
              <%= icon "sidebar" %>
            </button>
            <%= link_to :root, class: "hover:bg-zinc-200 inline-flex items-center justify-center dark:hover:bg-zinc-700 h-10 rounded-lg px-2 focus:outline-none" do %>
              <%= icon "edit" %>
            <% end %>
          </div>
            <div class="flex-col flex-1 transition-opacity duration-500 relative pr-3 overflow-y-auto">
              <div id="sidebar" class="group/sidebar">
                <div class="flex flex-col gap-2 text-sm">
                  <div>
                    <div class="relative first:mt-0 last:mb-5">
                      <div class="relative flex w-full min-w-0 flex-col p-2">
                        <div class="w-full text-sm">
                          <div class="flex w-full min-w-0 flex-col gap-1">
                            <div class="flex flex-col gap-2">
                              <%= turbo_frame_tag "chat_links" %>
                              <% Current.session.user.chats.order(created_at: :desc).each do |chat| %>
                                <%= render partial: "link", locals: { chat: chat } %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex min-h-svh flex-1 flex-col bg-orange-50" data-controller="chat">
    <div class="flex flex-col min-w-0 h-dvh bg-background">
      <%= render partial: "shared/chat_header" %>
      <div class="flex flex-col min-w-0 gap-6 flex-1 overflow-y-scroll pt-4">
        <% if (@chat&.messages || []).empty? %>
          <div data-chat-target="greeting" class="max-w-3xl mx-auto flex flex-1 items-center min-h-[60vh]">
            <div class="text-2xl text-center text-muted-foreground ">
              直販営業部について質問してみましょう<br>(わからない用語など)
              <img src="<%= asset_path('yakultman.png') %>" class="mx-auto mt-6 w-36" />
            </div>
          </div>
        <% end %>
        <% (@chat&.messages || []).each do |message| %>
          <div class="w-full mx-auto max-w-3xl px-4 group/message" data-role="<%= message.role %>">
            <div class="flex gap-4 w-full group-data-[role=user]/message:ml-auto group-data-[role=user]/message:max-w-2xl group-data-[role=user]/message:w-fit">
              <div class="flex flex-col gap-4 w-full">
                    <div class="flex flex-row gap-2 items-start">
                      <div class="flex flex-col gap-4 group-data-[role=user]/message:bg-zinc-200 group-data-[role=user]/message:dark:bg-zinc-700 group-data-[role=user]/message:dark:text-white group-data-[role=user]/message:text-black group-data-[role=user]/message:px-3 group-data-[role=user]/message:py-2 group-data-[role=user]/message:rounded-xl">
                        <% if message.role == "assistant" %>
                          <div data-controller="markdown">
                            <%= message.content %>
                          </div>
                        <% else %>
                            <%= message.content %>
                        <% end %>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="shrink-0 min-w-[24px] min-h-[24px]" data-chat-target="conversation scroll"></div>
      </div>
      <%= form_with data: { action: "chat#generateResponse" }, class: "flex mx-auto px-4 bg-background pb-4 md:pb-6 gap-2 w-full md:max-w-3xl" do |form| %>
        <input type="hidden" name="authenticity_token" value="[YOUR_CSRF_TOKEN_HERE]">
        <div class="relative w-full flex flex-col gap-4">
          <%= form.text_area :input, data: { chat_target: "prompt" }, placeholder: "質問してみましょう", class: "flex w-full border border-input bg-background px-3 py-2 md:text-sm resize-none rounded-2xl bg-muted pb-10 border-zinc-300 dark:border-zinc-700", rows: 2, autofocus: true, id: "input", onkeydown: "if(event.key === 'Enter' && event.shiftKey) { event.preventDefault(); this.form.requestSubmit(); }" %>

          <div class="absolute bottom-0 right-0 p-2 w-fit flex flex-row justify-end">
            <button name="button" type="submit" class="rounded-full p-1.5 h-fit border dark:border-zinc-600">
              <%= icon "arrowup" %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <template id="chat-message">
    <div class="w-full mx-auto max-w-3xl px-4 group/message mb-2">
      <div class="flex gap-4 w-full group-data-[role=user]/message:ml-auto group-data-[role=user]/message:max-w-2xl group-data-[role=user]/message:w-fit">
        <div class="flex flex-col gap-4 w-full">
          <div class="flex flex-row gap-2 items-start">
            <div class="flex flex-col gap-4 group-data-[role=user]/message:bg-zinc-200 group-data-[role=user]/message:dark:bg-zinc-700 group-data-[role=user]/message:dark:text-white group-data-[role=user]/message:text-black group-data-[role=user]/message:px-3 group-data-[role=user]/message:py-2 group-data-[role=user]/message:rounded-xl">
              <div class="message"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>

